.collect {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__button {
    font-size: 3rem;
    padding: 8rem 4rem;
    border: none;
    color: #ffd166;
    letter-spacing: 8px;
    background-color: #ef476f;
    &:hover {
      color: #fff;
      background-color: #ef476f;
    }
  }
}
