@use "../../styles/partials/mixins" as *;

.login {
  min-height: 100vh;
  padding: 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__card {
    height: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffd166;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    @include tablet {
      padding: 4rem;
    }
  }

  &__header {
    font-size: 6rem;
    color: #fff;
    width: 30%;
  }

  &__text {
    color: #fff;
    font-size: 1.8rem;
  }
  &__google {
    margin: 3rem 0;
    border: 2px solid #fff;
    padding: 2rem;
    background-color: #ffd166;
    color: #fff;
    font-size: 1.8rem;

    border-radius: 10px;
    @include tablet {
      width: 50%;
    }

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #ffd166;
      border: 2px solid #ffd166;
      transition: all 2s ease;
    }
  }
}
