@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &__card {
    height: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-brown;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    @include tablet {
      padding: 4rem;
    }
  }

  &__header {
    font-size: 4rem;
    color: $primary-white;
    width: 100%;
    text-align: center;
  }

  &__text {
    color: $primary-white;
    font-size: 1.8rem;
  }
  &__google {
    margin-bottom: 3rem;
    border: none;
    padding: 2rem;
    background-color: $primary-blue;
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $secondary-blue;
      border: 2px solid $secondary-blue;
      transition: all 2s ease;
    }
  }

  &__noaccount {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__logo {
    width: 25rem;
  }
}
