@font-face {
  font-family: "Quicksand";
  src: url(../../assets/fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url(../../assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
  font-family: "Quicksand-bold";
  src: url(../../assets/fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: "Futura";
  src: url(../../assets/fonts/FuturaStd-Light.otf);
}

@font-face {
  font-family: "Futura-Medium";
  src: url(../../assets/fonts/FuturaStd-Medium.otf);
}

@font-face {
  font-family: "Futura-bold";
  src: url(../../assets/fonts/FuturaStd-Bold.otf);
}
