@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.categoryBar {
  display: flex;
  margin-top: 3.5rem;
  padding: 0 4rem;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-blue;
  width: 100%;
  position: fixed;
  z-index: 1;

  @include tablet {
    padding: 0 10rem;
  }

  &__button {
    padding: 2rem 0;
    height: 85%;
    border: none;
    flex-grow: 1;
    font-size: 1.4rem;
    margin: auto 2px;
    background-color: $primary-blue;
    color: #fff;
    border-radius: 10px;
    &--extra {
      display: none;
    }
    &--all {
      padding: 0 2rem;
      margin-right: 4rem;
      flex-grow: 0;
      font-weight: 800;
    }
    &:hover {
      background-color: #fff;
      transition: background-color 1s ease;
      color: $primary-blue;
      cursor: pointer;
    }

    @include tablet {
      font-size: 1.4rem;
      &--extra {
        display: block;
      }
    }
  }
}
