@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.categoryBar {
  display: flex;
  padding: 0 2rem;
  min-height: 7rem;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-blue;
  border-radius: 20px;
  align-self: center;
  margin: 2rem;

  @include tablet {
    justify-content: space-between;
    padding: 0 4rem;
    margin: 2rem 6rem;
  }

  &__button {
    display: none;
    padding: 1rem 0.5rem;
    border: none;
    font-size: 1.4rem;
    background-color: $primary-blue;
    color: #fff;
    border-radius: 10px;
    &--extra {
      display: none;
    }
    &--all {
      display: block;
      margin-right: 4rem;
      font-weight: 800;
    }
    &:hover {
      background-color: #fff;
      transition: background-color 1s ease;
      color: $primary-blue;
      cursor: pointer;
    }

    @include tablet {
      display: block;
      font-size: 1.4rem;
      &--extra {
        display: block;
      }
    }
  }

  &__icon {
    width: 3rem;
    @include tablet {
      display: none;
    }
  }
}
