@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.connect {
  padding: 6rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include desktop {
    padding: 6rem 12rem;
  }
  &__form {
    @include tablet {
      padding: 2rem;
      width: 80%;
    }
  }

  &__header {
    padding: 4rem 0;
    color: $primary-grey;
    text-align: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &__label {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  &__input {
    padding: 1rem;
    background: none;
    border: 1px solid $primary-grey;
    border-radius: 10px;
    font-size: 1.6rem;
  }

  &__radio {
    margin: 2rem 1rem;
  }

  &__button-wrapper {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 20rem;
    }
  }

  &__button {
    border: none;
    padding: 2rem;
    background-color: $primary-blue;
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
    border-radius: 10px;
    margin: 2rem 0;
    &:hover {
      cursor: pointer;
      background-color: $secondary-blue;
    }
  }

  &__addimage {
    padding: 1rem;
  }
}

.form__left,
.form__right {
  margin: 0 2rem;
}

.field-wrapper {
  padding: 0.8rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-error {
  outline: 1px solid red;
}
