@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.connect {
  padding: 6rem 12rem;

  &__header {
    padding: 4rem 0;
    color: $primary-grey;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &__label {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  &__input {
    padding: 1rem;
    background: none;
    border: 1px solid $primary-grey;
    border-radius: 10px;
    font-size: 1.6rem;
  }

  &__radio {
    margin: 2rem 1rem;
  }

  &__button-wrapper {
    padding: 4rem 0;
  }

  &__button {
    border: none;
    padding: 2rem;
    background-color: $primary-blue;
    color: #fff;
    font-size: 1.8rem;
    width: 50%;
    margin-right: 4rem;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: $secondary-blue;
    }
  }

  &__cancel {
    margin-left: 2rem;
  }

  &__form {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  &__addimage {
    padding: 1rem;
  }
}

.field-wrapper {
  padding: 0.8rem 0;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
