@use "./partials/resets";

.main {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  padding: 4rem 4rem;
}

.app-wrapper {
  padding-top: 12rem;
  height: 100%;
}
