@use "./partials/resets";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.main {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  min-height: 100vh;
}

.app-wrapper {
  &__left {
    padding: 4rem;
  }
}
