@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.background {
  position: absolute;
  background-image: url(../../assets/images/turtle.jpg);
  background-position: center;
  background-size: cover;
  opacity: 70%;

  right: 0;
  // z-index: -1;
  display: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  @include desktop {
    display: block;
    width: 60vw;
    height: 80vh;
    bottom: inherit;
  }
}

.top {
  padding: 3rem 1.5rem;
  position: relative;
  height: 70vh;
  background-color: #fff;
  border-radius: 10px;
  background: none;
  margin: 2rem 0;
  @include flex(column, flex-start, flex-start);
  @include desktop {
  }

  &__text {
    font-size: 2rem;
    padding: 2rem 0;
    color: $primary-grey;
    line-height: 3rem;
  }

  &__header {
    font-size: 5rem;
    width: 100%;

    @include tablet {
      font-size: 6.5rem;
      width: 60%;
      padding: 2rem 0;
    }

    @include desktop {
      width: 30%;
    }
  }

  &__image-wrapper {
    display: none;
    width: 32rem;
    position: absolute;
    // top: 8rem;
    // right: 0;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @include tablet {
      display: block;
      right: 0;
    }
  }

  &__loyaltyCard {
    width: 100%;
  }

  &__cta {
    color: $primary-blue;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid $primary-grey;
    font-weight: 800;
    background-color: $primary-white;

    &:hover {
      cursor: pointer;
      color: $primary-white;
      background-color: $primary-blue;
      border-radius: 20px;
      transition: all 1s ease-in-out;
    }
  }
}

.sustainable {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  min-height: 100vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 2px;
  transition: all 2s ease;
  text-align: center;
  margin-top: 2rem;
  background-color: #ebf7ff;
  z-index: 3;

  @include tablet {
    padding: 4rem 6rem;
  }

  &__initiatives {
    background-color: $primary-white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    margin: 4rem 0;
  }

  &__about,
  &__initiatives {
    padding: 1rem 0;

    @include tablet {
      padding: 4rem 0;
    }
  }

  &__about {
    @include flex(column, center, center);
    width: 100%;

    @include tablet {
      @include flex(column, center, flex-end);
    }
    p {
      line-height: 3rem;
      width: 80%;
      text-align: right;
    }

    @include tablet {
      width: 70%;
    }
  }

  &__title {
    margin-top: 2rem;
    padding: 2rem 0;
    font-size: 5rem;
  }
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.initiative-card {
  padding: 4rem 3rem;
  width: 40rem;

  &__icon {
    width: 8rem;
    color: $primary-grey;
    margin: 2rem;
    transition: all 1s ease;
    &:hover {
      width: 7rem;
    }
  }

  &__name {
    color: $secondary-blue;
    font-size: 1.9rem;
    font-family: Quicksand-bold;
  }

  &__text {
    padding: 1rem;
  }
}

.download {
  @include flex(column, center, center);
  height: 50rem;

  @include tablet {
    height: 50rem;
  }

  @include desktop {
    height: 90rem;
  }
  &__image {
    width: 40rem;
    border-radius: 10px;

    @include tablet {
      @include flex(row, space-between, center);
      width: 40rem;
    }

    @include desktop {
      width: 80rem;
    }
  }
  &__cta {
    font-size: 1.8rem;
    border: none;
    padding: 2rem 4rem;
    color: $primary-white;
    background-color: $primary-blue;
    border-radius: 20px;
    margin-bottom: 4rem;
    &:hover {
      cursor: pointer;
      background-color: $secondary-blue;
    }
  }
}
