@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-wrapper {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url("../../assets/images/turtle.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  opacity: 60%;
  z-index: -1;
}
.home {
  &__top {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 4rem 8rem;
    background: none;
    position: relative;
    scroll-behavior: smooth;
    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__left,
  &__right {
    width: 100%;
    padding: 4rem 0;
    @include tablet {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    margin-top: 2rem;
    font-size: 6rem;
    padding: 2rem 0;
    color: $primary-grey;
  }

  &__image-wrapper {
    width: 60%;
  }

  &__loyaltycard {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    flex-wrap: wrap;
  }

  &__searchbar,
  &__select {
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(66, 66, 66);
    background: rgba(255, 255, 255, 0.13);
    padding: 1.2rem 2rem;
    margin-right: 4px;
    color: $primary-grey;
    text-align: center;
    font-size: 1.6rem;
    &:active {
      outline: none;
      border: none;
    }

    @include tablet {
      font-size: 1.4rem;
      width: 30rem;
    }

    &::placeholder {
      color: $primary-grey;
      font-size: 1.6rem;
      text-align: center;
      opacity: 100%;
    }
  }

  &__arrow {
    color: $primary-grey;
    margin-left: 3rem;
    &:hover {
      color: $primary-blue;
      cursor: pointer;
      transition: all 1s ease;
    }
  }

  &__select {
    margin-left: 1rem;
    width: 20rem;
  }

  &__cta {
    font-size: 1.8rem;
    margin: 2rem 0;
    border: none;
    padding: 1rem 4rem;
    color: #fff;
    background-color: $primary-blue;
    &:hover {
      cursor: pointer;
      transition: all 1s ease;
      background-color: $secondary-blue;
    }
  }

  &__text {
    color: $primary-white;
  }
}

.logo {
  width: 6rem;
  &:hover {
    cursor: pointer;
  }
}

.initiatives {
  position: absolute;
  bottom: 2rem;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__link {
    font-family: Quicksand-medium;
    color: $primary-white;
    font-size: 2rem;
  }

  &__icon {
    &:hover {
      cursor: pointer;
    }
  }
}

.sustainable {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  transition: all 2s ease;
  text-align: center;

  &__about,
  &__initiatives {
    padding: 4rem 0;
    width: 90%;
  }

  &__about {
    width: 70%;
  }

  &__title {
    padding: 2rem 0;
    font-size: 4rem;
  }
  p {
    line-height: 2.4rem;
  }
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.initiative-card {
  padding: 4rem 3rem;
  width: 40rem;

  &__icon {
    width: 8rem;
    color: $primary-grey;
    margin: 2rem;
    transition: all 1s ease;
    &:hover {
      width: 7rem;
    }
  }

  &__name {
    color: $primary-blue;
    font-size: 1.6rem;
    font-family: Quicksand-bold;
  }

  &__text {
    padding: 1rem;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  &__image {
    width: 60rem;
    border-radius: 20px;
    margin-left: 8rem;
  }

  &__cta {
    font-size: 1.8rem;
    margin-right: 8rem;
    border: none;
    padding: 2rem 4rem;
    color: #fff;
    background-color: $primary-blue;
    border-radius: 20px;
    &:hover {
      cursor: pointer;
      background-color: $secondary-blue;
    }
  }
}
