@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typology";
.exchange {
  min-height: 100vh;
  padding: 6rem;

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary-grey;
  }

  &__items {
    padding: 2rem 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
  }
  &__title {
    color: $primary-blue;
    font-size: 4rem;

    padding: 3rem 0;
  }
}
