@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  @include tablet {
    width: 40rem;
  }
  &__image {
    margin: 2rem 0;
    width: 100%;
    border-radius: 20px;
  }

  &__title {
    font-size: 2rem;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.575);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.575);
  }

  &__description {
    padding: 1rem 0;
  }

  &__text {
    padding: 1rem 0;
    margin-right: 4rem;
    font-size: 1.4rem;
  }

  &__stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    text-align: right;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__points {
    font-size: 1.6rem;
    font-weight: 800;
    color: $primary-grey;
  }
}

.coin-wrapper {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemcard {
  &__coin {
    width: 3rem;
    margin: 0 1rem;
  }
}
