@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
  min-height: 100vh;
  padding: 8rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @include tablet {
    padding: 8rem 12rem;
  }

  &__header {
    color: $primary-grey;
    width: 100%;
    font-size: 3rem;
    padding: 4rem 0;

    @include tablet {
      padding: 5rem 0;

      font-size: 5rem;
    }
  }

  &__card-wrapper {
    width: 100%;
    border-top: 2px solid $primary-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2rem 0;
    }
  }

  &__card {
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    @include tablet {
      width: 60rem;
    }
    @include desktop {
      height: 40rem;
      width: 40rem;
      margin: 1rem;
    }
  }

  &__top {
    border-bottom: 1px solid $primary-blue;
    padding: 0 2rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }

  &__qrcode {
    width: 20rem;
    padding: 2rem;
  }

  &__label {
    padding: 0.8rem 0;
    font-weight: 100;
    font-size: 1.4rem;
    color: $primary-blue;
  }

  &__detail {
    border-bottom: 1px solid rgb(224, 224, 224);
    font-weight: 600;
    margin-right: 1rem;

    color: rgb(66, 66, 66);
  }

  &__delete {
    border: none;
    background: none;
    color: rgb(197, 59, 59);
    margin-bottom: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 4rem;
    margin-bottom: 1rem;
  }
}

.dashboard__card-header {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: $primary-grey;
  @include tablet {
    font-size: 3rem;
  }
}

.detail-wrapper {
  display: flex;
  padding-bottom: 4rem;
}

.dashboard-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
