@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  width: 100%;
  @include flex(row, space-between, center);

  &__logo-wrapper {
    width: 25rem;
  }

  &__logo {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  &__user {
    margin-right: 1rem;
  }
  &__button {
    color: $primary-blue;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid $primary-grey;
    font-weight: 800;
    background-color: $primary-white;

    &:hover {
      cursor: pointer;
      color: $primary-white;
      background-color: $primary-blue;
      border-radius: 20px;
      transition: all 1s ease-in-out;
    }
  }
}
