@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  display: flex;
  padding: 2rem;
  align-items: center;
  width: 100%;
  background-color: $primary-grey;
  justify-content: space-between;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;

  @include tablet {
    padding: 1rem 8rem;
  }

  &__home {
    border-radius: 50%;
    padding: 2rem;
    background-color: #ffd166;
    &:hover {
      background-color: #fff;
      transition: background-color 1s ease;
    }
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__link {
    position: absolute;
    bottom: 0;
    margin-right: 4rem;
    &:hover {
      cursor: pointer;
      color: $primary-blue;
      transition: all 1s ease-in-out;
    }
  }

  &__searchbar,
  &__select {
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 66);
    width: 22rem;
    background: none;
    padding: 0.5rem 2rem;
    margin-right: 4px;
    &:hover {
      color: #ffd166;
    }
    @include tablet {
      font-size: 1.4rem;
      width: 30rem;
      color: rgb(66, 66, 66, 0.7);
    }

    &::placeholder {
      color: rgb(66, 66, 66, 0.7);
    }
  }
}

.user {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__icon {
    color: $primary-white;

    &:hover {
      cursor: pointer;
      color: $primary-blue;
      background-color: $primary-white;
      border-radius: 50%;
      transition: all 1s ease-in-out;
    }
  }
}
