@use "../../styles/partials/mixins" as *;

.navbar {
  display: flex;
  padding: 4rem 2rem;
  height: 11rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  @include tablet {
    padding: 4rem 6rem;
  }

  &__home {
    border-radius: 50%;
    padding: 3rem;
    background-color: #ffd166;
    &:hover {
      background-color: #fff;
      transition: background-color 1s ease;
    }
  }

  &__search {
    width: 50rem;
    padding: 1rem 2rem;
    background: none;
    font-size: 2rem;
    border-left: 8px solid #ffd166;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #ffd166;

    &::placeholder {
      color: #fff;
    }
  }

  &__link {
    color: #fff;
    font-size: 1.8rem;
    padding: 2rem;

    &:hover {
      color: #ffd166;
      border-bottom: 8px solid #ffd166;
      transition: all 0.5s ease;
    }
  }

  &__logout {
    border: none;
    font-size: 1.5rem;
    background: none;
    color: #fff;
    &:hover {
      background-color: #ef476f;
      cursor: pointer;
    }
  }
}
