@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  min-height: 200vh;
  padding: 2rem 0;

  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  &__back {
    padding: 2rem;
    color: $primary-blue;
    &:hover {
      color: $primary-grey;
    }
  }

  &__map {
    display: none;

    @include tablet {
      display: flex;
      background-color: #fff;
      width: 100%;
      height: 50rem;
    }
  }

  &__listings {
    margin-top: 12rem;
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
    @include tablet {
      padding: 6rem;
    }
  }

  &__header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: $primary-grey;
  }

  &__location {
    font-family: "Quicksand-bold";
    color: $primary-grey;
    font-size: 2.4rem;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0 2rem;
  border-radius: 20px;
  flex-wrap: wrap;
}

.card-wrapper {
  margin: 3rem 0;
  &:hover {
    cursor: pointer;
  }
}

.search-error {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    padding: 4rem;
  }
}
