@use "../../styles/partials/mixins" as *;

.search {
  display: flex;
  min-height: 200vh;

  &__map {
    display: none;

    @include tablet {
      display: flex;
      background-color: #fff;
      width: 100%;
      height: 80rem;
    }
  }

  &__listings {
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
    @include tablet {
      box-shadow: inset 4px 0px 5px rgba(0, 0, 0, 0.25);
      padding: 6rem;
    }
  }

  &__header {
    font-size: 1.8rem;
    color: #fff;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-wrapper {
  margin: 3rem 0;
  &:hover {
    cursor: pointer;
  }
}

.search-error {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    padding: 4rem;
  }
}
