@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.establishment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  min-height: 100vh;
  @include tablet {
    padding: 10rem 12rem;
  }

  &__images-wrapper {
    width: 90rem;
    margin-right: 4rem;
  }

  &__cover {
    width: 100%;
    border-radius: 20px;
  }

  &__name {
    font-size: 3.2rem;
    color: $primary-grey;
    @include tablet {
      font-size: 5rem;
    }
  }

  &__rating {
    font-size: 2rem;
  }

  &__description {
    color: rgba(16, 15, 15, 0.7);
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 2rem 0;
  }

  &__button {
    width: 100%;
    background-color: $primary-blue;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    margin: 2rem 0;
    &:hover {
      background-color: $secondary-blue;
      cursor: pointer;
      color: $primary-white;
    }
    &--locked {
      background-color: rgb(157, 157, 157);
    }
  }

  &__points {
    color: #fff;
  }

  &__initiatives {
    width: 100%;
    margin: 3rem 0;
  }

  &__icons {
    width: 3.5rem;
    margin-right: 1rem;
  }
}

.initiatives {
  &__title {
    font-size: 2.8rem;
  }
  &__card {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    background-color: #ffd1665d;
  }

  &__name {
    color: #fff;
    font-size: 3rem;
    padding: 3rem;
  }
}
